
header{
    margin-top: 140px;
   

    color: #FFfffF;
    font-style: normal;
    font-weight: 400;
}
header h1{
    font-family: Staatliches;
    font-size: 48px;
    line-height: normal;
    
}
header p{
    font-family: Poppins;
    font-size: 20px;
    line-height: normal;
}


body::before{
    content: '';
    
    width: 100%;
    height: 436px;
    display: block;/*torna o display block, fazendo com q ele empurre todos os elementos seguites descolarem pra baixo*/

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;/*faz com q a camada fique por traz da camada superior*/
    background: #535971;
    
}

.page{
    width: 736px;
    margin:  auto;
}

body{
    background: #EFEFEF;
    
}

fieldset{
    border: none;
}

form{
    min-width: 750px;
    margin: auto;
    background-color: #FFfffF;
    border-radius: 20px 20px 0px 0px;
    padding: 64px;

}

legend{
    margin: 64px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

.col-2{
    display: flex;
    gap: 22px;
}

.fieldset-wrapper{
    
    color: #535971;
    font-family: Staatliches;
    font-size: 24px;
    font-style: normal;


}

.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 360px;
    
    color: #4E4958;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;

}
.input-wrapper input{
    height: 56px;
    margin-top: 8px;
    margin-bottom: 16px;
    
}